@import '../../scss/abstracts/constants';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/placeholders';

.list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: grid;
    grid-template-columns: 41.5% 10.5% 6.49% 21% minmax(0, 1fr);
    column-gap: 25px;
    padding: 0 0 10px 16px;

    :nth-of-type(4) {
      padding-left: 29px;
    }

    span {
      color: $color-text-tertiary;
      @include font($size: 1.1rem);
      margin: 0;
    }

    button {
      border: none;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-left: 8px;
      }
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.list__error-text {
  align-self: center;
  margin: 150px 0 auto;
  color: #222;
  @extend %font-primary;
  @include font($size: 1.8rem, $weight: 500);
}

.list__no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  button {
    width: 95px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: $color-background-light;
    border: none;

    @extend %font-primary;
    @include font($size: 1.2rem, $weight: 600);
    color: $color-white;
    cursor: pointer;
  }
}
