@import '../../scss/abstracts/constants';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/placeholders';

.list {
  display: flex;
  flex-direction: column;

  &__header {
    display: grid;
    grid-template-columns: 41.5% 10.5% 6.49% 21% minmax(0, 1fr);
    column-gap: 25px;
    padding: 0 0 10px 16px;

    :nth-of-type(4) {
      padding-left: 29px;
    }

    span {
      color: $color-text-tertiary;
      @include font($size: 1.1rem);
      margin: 0;
    }

    button {
      border: none;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        margin-left: 8px;
      }
    }
  }
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 5px;
}
