$color-background-body: #fafafa;
$color-text-primary: #474747;
$color-text-secondary: #5c5c5c;
$color-text-tertiary: #999;
$color-text-placeholder: #d1d1d1;

$color-text-correct: #1bda9d;
$color-text-warning: #ff8346;
$color-text-alert: #fe4848;

$color-background-light: #2ee5ac;
$color-background-dark: #7d7d7d;

$color-white: #fff;
$color-border: #ebebeb;
$color-border-red: #e14165;
$color-border-purple: #c2c2ff;
$color-border-blue: #8686ff;

$content-width: 1054px;
