%font-primary {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

%font-secondary {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

%font-add {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
