@import '../../scss/abstracts/constants';
@import '../../scss/abstracts/mixins';

.search {
  width: 100%;
  margin: 40px 0 35px;
  padding: 0;

  &__input-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    width: 100%;
    padding: 15px 13px;
    height: 45px;

    border: 1px solid $color-border;
    border-radius: 15px;

    input {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 90%;
      border: 0;
      outline: 0;
      padding: 0;

      @include font($size: 1.4rem, $weight: 400);
    }

    ::-webkit-input-placeholder {
      color: $color-text-placeholder;
      @include font($size: 1.4rem, $weight: 400);
    }
  }

  &__icon {
    width: 13px;
    height: 14px;
  }

  &__text {
    color: $color-text-placeholder;
    @include font($size: 1.4rem, $weight: 400);
    margin: 0;
  }
}
